@import "../../color-variables";

.sideNav {
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: $Omega;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  &__logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: center;

    &__pic {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: white;
      box-shadow: 0 5px 10px $Misty;
      margin: 5px 15px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

    }

    &__title {
      font-size: 16px;
      color: $Primary;
    }
  }

  &__title {
    font-size: 14px;
    color: $Alpha;
    padding: 0 33px;
    width: 100%;
    font-weight: bold;
  }

  .active {
    color: $Alpha;
    box-shadow: 0 5px 10px $Misty;

    fa-icon {
      color: $Primary;
    }
  }


  &__item {

    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: $Legend;
    width: 100%;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      justify-content: flex-start;
      padding: 0 31px;
      width: 100%;
      font-size: 14px
    }

    fa-icon {
      padding: 0 5px;
    }

    &__title {
      fa-icon {
        color: $Alpha;
        padding: 0 24px;
        font-size: 10px;
      }
    }
  }

  &__account {

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding:20px;
    }

    &__info {
      p {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
        color: $Alpha;
      }

      span {
        font-size: 12px;
        color: $Legend;
      }
    }

  }

  &__getApp {
    margin: 20px;
    img {
      border-radius: 10px;
      width: 130px;
    }
  }
}