<div class="circle-cards-container">
    <div>
        <img src="assets/images/p1.jpg">
        <span class="circle-cards-container__overlay"></span>
        <fa-icon [icon]="faPlus"></fa-icon>
        <p>You</p>
    </div>
    <div>
        <img src="assets/images/p2.jpg">
        <p>Supardi</p>
    </div>
    <div>
        <img src="assets/images/p3.jpg">
        <p>Dean</p>
    </div>
    <div>
        <img src="assets/images/p4.jpg">
        <p>Theodor</p>
    </div>
    <div>
        <img src="assets/images/p5.jpg">
        <p>Walter</p>
    </div>
    <div>
        <img src="assets/images/p6.jpg">
        <p>Jesse</p>
    </div>
    <div>
        <img src="assets/images/p7.jpg">
        <p>Enola</p>
    </div>
</div>